.full-bleed {
  background-color: var(--lightblue);
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

main {
  padding-top: 5rem;
  overflow-x: hidden;
}
